#footer{
    display: grid;
    grid-template-columns: 1fr max-content;
    background-color: #efefef;
    padding: 16px;
    justify-items: end;
    align-items: center;
    grid-gap: 10px;
    margin-top: 50px;

    img{
        height: 60px;
        width: auto;
        opacity: 69%;
    }

    span{
        opacity: 69%;
        font-size: 14.4px;
    }

}